.content {
  display: flex;
}

input {
  border: solid 1px #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
  padding-left: 1rem;
  color: #000;
  font-size: 0.9rem;
}

button {
  border: none;
  border-right: solid 1px var(--bkg-color);
  width: 2.3rem;
  height: 2.3rem;
  line-height: 2.3rem;
  background-color: #444;
  color: #fff;
  padding: 0;
  cursor: pointer;
  margin: 0;
  display: inline-block;
}

button:hover {
  background-color: #000;
}
