<link rel="stylesheet" href="lib/font-gis/css/font-gis.css" />
<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="lib/vanilla-picker/vanilla-picker.csp.css" />

<div id="panel">
  <div id="gutter"></div>
  <div id="close">
    <i class="fa-solid"></i>
  </div>
  <div id="content">
    <button id="disable" tip="Disable drawing" class="selected">
      <i class="fg-arrow-o fg-lg"></i>
    </button>
    <button id="point" tip="Point">
      <i class="fg-point fg-lg"></i>
    </button>
    <button id="line" tip="Line">
      <i class="fg-polyline-pt fg-lg"></i>
    </button>
    <button id="polygon" tip="Polygon">
      <i class="fg-polygon-pt fg-lg"></i>
    </button>
    <button id="square" tip="Square">
      <i class="fg-square-pt fg-lg"></i>
    </button>
    <button id="rectangle" tip="Rectangle">
      <i class="fg-rectangle-pt fg-lg"></i>
    </button>
    <button id="circle" tip="Circle">
      <i class="fg-circle-o fg-lg"></i>
    </button>
    <button id="freeline" tip="Freehand line">
      <i class="fg-polyline fg-lg"></i>
    </button>
    <button id="freepolygon" tip="Freehand polygon">
      <i class="fg-polygon-o fg-lg"></i>
    </button>
    <button id="undo" tip="Undo">
      <i class="fg-help-larrow fg-lg"></i>
    </button>
    <div id="drawingList"></div>
  </div>
</div>
