<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />

<div id="draggable">
  <div id="header">
    About
    <div id="close">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div id="content">
    <img alt="GeoGirafe logo" src="components/about/images/logo.png" />
    <h3>Version: ${this.version}</h3>
    <h3>Build: ${this.build}</h3>

    <h3>Date: ${this.date}</h3>
    <h3>
      Source:
      <a href="https://gitlab.com/geogirafe/gg-viewer" rel="noopener" target="_blank"
        >https://gitlab.com/geogirafe/gg-viewer</a
      >
    </h3>
  </div>
</div>
