<girafe-menu-button id="menu-button" icon-style="fa-xl fa-solid fa-earth-europe" open="left">
  <div slot="menu-content">
    ${Object.entries(this.projections).map(([code, text]) => uHtml`
    <girafe-button
      text="${text}"
      icon-style="fa-xl fa-solid fa-earth-europe"
      onclick="${() => this.changeProjection(code)}"></girafe-button
    >` )}
  </div>
</girafe-menu-button>
