<link rel="stylesheet" href="lib/font-gis/css/font-gis.css" />
<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="lib/tippy.js/tippy.min.css" />

<div class="${this.state.treeview.advanced ? 'item advanced' : 'item'}">
  <!-- spacer for alignment -->
  <div class="invisible expand-spacer"></div>

  <!-- Bullet or Checkbox or Icon -->
  <img
    class="${this.layer instanceof LayerWms && !this.configManager.Config.treeview.useCheckboxes && this.configManager.Config.treeview.useLegendIcons && this.iconUrl ? 'legend-icon' : 'legend-icon hidden'}"
    alt="${'Icon for ' + this.layer.name}"
    onclick="${() => this.toggle()}"
    src="${this.iconUrl}" />
  <div
    class="${(!this.layer instanceof LayerWms || !this.configManager.Config.treeview.useLegendIcons || !this.iconUrl || this.configManager.Config.treeview.useCheckboxes) && this.layer.activeState === 'off' ? 'circle-off selectable' : 'circle-off hidden'}"
    onclick="${() => this.toggle()}">
    <i
      class="${this.configManager.Config.treeview.useCheckboxes ? 'fa-lg fa-regular fa-square selbox' : 'fa-xs fa-regular fa-circle selcircle'}"></i>
  </div>
  <div
    class="${(!this.layer instanceof LayerWms || !this.configManager.Config.treeview.useLegendIcons || !this.iconUrl || this.configManager.Config.treeview.useCheckboxes) && this.layer.activeState === 'on' ? 'circle-on selected' : 'circle-on hidden'}"
    onclick="${() => this.toggle()}">
    <i
      class="${this.configManager.Config.treeview.useCheckboxes ? 'fa-lg fa-solid fa-square-check selbox' : 'fa-xs fa-solid fa-circle selcircle'}"></i>
  </div>

  <!-- Error icon -->
  <i
    class="${this.layer.hasError ? 'fa-solid fa-circle-exclamation tool error' : 'error hidden'}"
    tip="${this.layer.errorMessage}"></i>

  <!-- Label -->
  <span
    i18n="${this.layer.name}"
    class="${this.layer.activeState === 'on' ? (this.layer.hasFilter ? 'text selected filtered' : 'text selected') : 'text selectable'}"
    tip="${this.layer.hasFilter ? 'This layer is filtered.' : ''}"
    onclick="${() => this.toggle()}"
    >${this.layer.name}</span
  >

  <!-- zoom to resolution -->
  <i
    class="${this.layer instanceof LayerWms && this.layer.hasRestrictedResolution() ? 'fa-solid fa-magnifying-glass tool selectable resolution' : 'resolution hidden'}"
    tip="Zoom to visible resolution"
    onclick="${() => this.zoomToVisibleResolution()}">
  </i>

  <!-- zoom to full extent -->
  <i
    class="${this.layer instanceof LayerLocalFile ? 'fa-solid fa-magnifying-glass tool selectable resolution' : 'resolution hidden'}"
    tip="Zoom to full extent"
    onclick="${() => this.zoomToFullExtent()}">
  </i>

  <!-- swipe icons -->
  <i
    class="fa-solid fa-arrow-left tool selectable swipe-left advanced"
    tip="Swipe layer on the left"
    onclick="${() => this.swipeLayer('left')}"></i>
  <i
    class="fa-solid fa-arrow-right tool selectable swipe-right advanced"
    tip="Swipe layer on the right"
    onclick="${() => this.swipeLayer('right')}"></i>

  <!-- move icons -->
  <i class="fa-solid fa-caret-down advanced tool movedown selectable" tip="Move this layer down"></i>
  <i class="fa-solid fa-caret-up advanced tool moveup selectable" tip="Move this layer up"></i>

  <i id="opacity" class="fa-regular fa-sun tool selectable opacity advanced" tip="Control opacity"></i>

  <!-- Filter -->
  <i
    id="filter"
    class="${this.layer instanceof LayerWms && this.layer.queryable ? 'fa-solid fa-filter tool selectable filter advanced' : 'filter invisible'}"
    tip="Filter layer"></i>

  <!-- Toggle legend icon -->
  <div
    class="${this.layer instanceof LayerLocalFile || (this.layer instanceof LayerWms && this.layer.legend) ? 'legend selectable' : 'legend invisible'}">
    <i
      tip="Toggle legend"
      class="${this.layer.isLegendExpanded ? 'fa-solid fa-bars fa-rotate-270 tool selectable' : 'fa-solid fa-bars tool selectable'}"
      onclick="${() => this.layer.isLegendExpanded = !this.layer.isLegendExpanded}"></i>
  </div>
</div>

${this.layer.layers?.split(',').map(l => uHtml`<img
  class="${this.layer instanceof LayerWms && this.layer.legend && this.layer.isLegendExpanded ? 'legend-image' : 'legend-image hidden'}"
  alt="${'Legend for ' + l}"
  src="${this.legendUrls[l]}" />` )}

<div
  class="${this.layer instanceof LayerLocalFile && this.layer.isLegendExpanded ? 'legend-file' : 'legend-file hidden'}">
  <span>File from </span><span>${this.layer.lastModifiedDate}</span><span> [</span
  ><span>${this.layer._features?.length} </span><span>features.]</span>
</div>
