@media screen and (max-width: 1024px) {
  girafe-search {
    width: 24rem;
    margin-right: 10rem;
  }
}

@media screen and (max-width: 768px) {
  girafe-search {
    width: 100%;
    margin-top: 4.5rem;
    border-radius: 0;
  }

  girafe-coordinate {
    display: none;
  }
}
