* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
}

body {
  --bx-shdw: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  --t-bkg: #ffffffbb;
  --text-color: #222;
  --text-color-grad1: #444;
  --text-color-grad2: #666;
  --bkg-color: rgb(255, 255, 255);
  --bkg-color-grad1: #ddd;
  --bkg-color-grad2: #bbb;
  --lnk: #0000ff;
  --lnk-visited: #800080;
  --lnk-hover: #0099ff;
  --lnk-active: #ff0000;
  --tst: #ff0000;
}

/* Dark theme colors */
body.dark-theme {
  --bx-shdw: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(255, 255, 255, 0.16);
  --t-bkg: #000000bb;
  --text-color: #eee;
  --text-color-grad1: #ccc;
  --text-color-grad2: #aaa;
  --bkg-color: rgb(34, 34, 34);
  --bkg-color-grad1: #444;
  --bkg-color-grad2: #666;
  --lnk: lightskyblue;
  --lnk-visited: #6d4b8d;
  --lnk-hover: #ffffff;
  --lnk-active: #ff4040;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --bx-shdw: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(255, 255, 255, 0.16);
    --t-bkg: #000000bb;
    --text-color: #eee;
    --text-color-grad1: #ccc;
    --text-color-grad2: #aaa;
    --bkg-color: rgb(34, 34, 34);
    --bkg-color-grad1: #444;
    --bkg-color-grad2: #666;
    --lnk: lightskyblue;
    --lnk-visited: #6d4b8d;
    --lnk-hover: #ffffff;
    --lnk-active: #ff4040;
  }

  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --bx-shdw: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    --t-bkg: #ffffffbb;
    --text-color: #222;
    --text-color-grad1: #444;
    --text-color-grad2: #666;
    --bkg-color: rgb(255, 255, 255);
    --bkg-color-grad1: #ddd;
    --bkg-color-grad2: #bbb;
    --lnk: #0000ff;
    --lnk-visited: #800080;
    --lnk-hover: #0099ff;
    --lnk-active: #ff0000;
  }
}

body a:link {
  color: var(--lnk);
}

body a:visited {
  color: var(--lnk-visited);
}

body a:hover {
  color: var(--lnk-hover);
}

body a:active {
  color: var(--lnk-active);
  text-decoration: none;
  font-weight: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px #ddd;
  background: var(--bkg-color);
  color: var(--text-color);
  height: 4.5rem;
  z-index: 100;
  justify-content: space-between;
  box-shadow:
    0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

girafe-theme-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 100;
}

.logo {
  position: absolute;
  left: 4.5rem;
  bottom: 0;
  margin-bottom: 0.5rem;
  height: 45px;
  margin-left: 1rem;
}

body.dark-theme .logo-light {
  display: none;
}

body.light-theme .logo-dark {
  display: none;
}

girafe-search {
  margin: 1rem auto;
  display: block;
  width: 36rem;
}

#buttonbar {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  color: var(--text-color);
  background-color: #444;
  font-size: 0;
  padding: 0;
  display: flex;
  height: 4.6rem;
  overflow: visible;
}

#content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 4.5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

#content-map {
  position: relative;
  flex: 1;
}

#content-bottom {
  position: relative;
  flex: 0;
}

#content-map section {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

girafe-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

girafe-tree-view {
  position: relative;
  width: 25rem;
  z-index: 90;
  background: var(--bkg-color);
  overflow: auto;
  box-shadow:
    0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

footer {
  flex: 0;
  align-self: flex-end;
  border: none;
  z-index: 10;
  display: flex;
  flex-direction: row;
}

girafe-selection-grid {
  position: relative;
  display: block;
}

girafe-redlining,
girafe-print {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20rem;
  z-index: 90;
  border-left: solid 1px #ddd;
  background: var(--bkg-color);
  overflow: visible;
  display: none;
  box-shadow:
    0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

girafe-selection-window {
  position: absolute;
  z-index: 100;
  background: var(--bkg-color);
  display: none;
}

girafe-nav-history {
  z-index: 10;
}

girafe-about {
  position: absolute;
  z-index: 100;
  background: var(--bkg-color);
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-top {
  border-top: solid 1px #fff;
}

.tippy-content {
  white-space: pre-line;
}
