#container,
#ol-map {
  background-color: var(--bkg-color);
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  text-align: center;
}

.loading span {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
}

.loading span.quote {
  font-style: italic;
  font-weight: 300;
}

#cs-map {
  background-color: var(--bkg-color);
  position: absolute;
  height: 100%;
  overflow: hidden;
  left: 60%;
  width: 40%;
  display: none;
  border-left: solid 3px #444;
}

.ol-zoom {
  right: 1rem;
  top: 1rem;
  left: unset !important;
}

.ol-rotate {
  right: 1rem !important;
  top: 4rem !important;
}

.ol-scale-line {
  right: 1rem !important;
  bottom: 0.5rem !important;
  left: unset !important;
}

#swiper {
  display: none;
  width: 99%;
  position: absolute;
  left: 0.5%;
  top: 50%;
  height: 0;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}

/* Webkit/Chrome specific */
input[type='range']::-webkit-slider-runnable-track {
  height: 0;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #444;
  height: 0;
  margin-top: -1000px;
  padding-top: 1000px;
  padding-bottom: 1000px;
  width: 6px;
  background: var(--bkg-color);
  cursor: ew-resize;
}

/* Firefox specific */
input[type='range']::-moz-range-thumb {
  border: 2px solid #444;
  height: 0;
  padding-top: 1000px;
  padding-bottom: 1000px;
  width: 3px;
  background: var(--bkg-color);
  cursor: ew-resize;
}

/* TODO REG: Verify styling on Edge and Safari */
/*
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px 50555C;
  border: 2px solid #50555C;
  height: 14px;
  width: 40px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
*/
